<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="django form with utf-8">
    <meta name="author" content="wichit2s">
    <title>Linux Services</title>

    {% load static %}
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
      .filled {
        width: 80%;
        padding: 5px;
      }
      .spacing {
        padding: 1em;
      }
    </style>
  </head>
  <body>
    <br>
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <nav> <h2> Linux Services Page </h2> </nav>
            </div>
            <div class="card-body">
              <h5 class="card-title">กรุณากรอกข้อมูล</h5>
              
              <form action="index" method="POST" enctype="multipart/form-data;charset=UTF-8">
                {% csrf_token %}

                <div class="form-group">
                    <label for="exampleInputIcon">Icon ไอคอน : </label>
                    <input type="text" class="form-control" id="exampleInputIcon" name="icon" >
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>

                <div class="form-group">
                    <label for="exampleInputtitle">Title บริการ : </label>
                    <input type="text" class="form-control" id="exampleInputtitle" name="title" >
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>

                <div class="form-group">
                    <label for="exampleInputdetail">Detail รายละเอียด : </label>
                    <input type="text" class="form-control" id="exampleInputdetail" name="title" >
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>

                <!-- <div class="spacing"><input class="filled" type="text" name="icon" value="icon ไอคอน"/></div>
                <div class="spacing"><input class="filled" type="text" name="title" value="title บริการ"/></div>
                <div class="spacing"><input class="filled" type="text" name="detail" value="detail รายละเอียด"/></div> -->
                <button class="btn btn-outline-primary" type="submit">Submit</button>
                <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModalCenter">
                    View Data
                  </button>
              </form>
            </div>
            <!-- Button trigger modal -->
                
                  
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          ...
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
            <!-- <div class="card-footer text-muted">
              2 days ago
            </div> -->
          </div>
    </div>

    <!-- <nav> <h1> Linux Services Page </h1> </nav> -->
    <div>
      <!-- <section class="filled">
        <form action="index" method="POST" enctype="multipart/form-data;charset=UTF-8">
          {% csrf_token %}
          <div class="spacing"><input class="filled" type="text" name="icon" value="icon ไอคอน"/></div>
          <div class="spacing"><input class="filled" type="text" name="title" value="title บริการ"/></div>
          <div class="spacing"><input class="filled" type="text" name="detail" value="detail รายละเอียด"/></div>
          <div class="spacing"><button style="padding: 2em;" type="submit">Submit</button></div>
        </form>
      </section> -->
      <div>
       <table style="width:80%; border: 1px solid black; padding: 1em;">
        <tr>
          <th>Icon</th>
          <th>Title</th>
          <th>Detail</th>
        </tr>
        {% for s in index %}
        <tr>
          <td> <i class="fa {{s.icon}}"></i> {{ s.icon }}</td>
          <td>{{ s.title }}</td>
          <td>{{ s.detail }}</td>
        </tr>
        {% endfor %}
      </table> 
      </div>
    </div>
    <footer>
      <div>
        <div>Copyright &copy; 2019 </div>
      </div>
    </footer>
  </body>

</html>